@font-face {
  font-family: "Pacifico";
  src: url("./Pacifico-Regular.ttf")

}

@font-face {
  font-family: "SourGummy";
  src: url("./SourGummy-VariableFont_wdth,wght.ttf")
}

@font-face {
  font-family: "SourGummy-Italic";
  src: url("./SourGummy-Italic-VariableFont_wdth,wght.ttf")
}

@font-face {
  font-family: "Jua";
  src: url("./Jua-Regular.ttf")
}

.font-pacifico {
  font-family: "Pacifico" !important;
}

.font-sour-gummy {
  font-family: "SourGummy" !important;
}

.font-sour-gummy-italic {
  font-family: "SourGummy-Italic" !important;
}

.font-jua {
  font-family: "Jua" !important;
}