html {
  font-size: 1.3vw;
}

* {
  font-family: "SourGummy";
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg.footerIcons {
  stroke: var(--bs-emphasis-color);
  fill: var(--bs-emphasis-color);
}

.square {
  width: 2rem;
  height: 2rem;
}

.border-emphasis {
  border-style: var(--bs-border-style);;
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-emphasis-color), var(--bs-border-opacity)) !important;
}

a {
  color: var(--bs-emphasis-color) !important;
}