.BlueNyang {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.MainCat {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  width: 50vw;
  background-color: white;
}

.Eyes {
  position: absolute;
}

.LeftEye {
  top: 50%;
  left: 50%;
  transform: translate(-5vw, 0.9vw);
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
}

.LeftEye img {
  width: 3.5vw;
}

.RightEye {
  top: 50%;
  left: 50%;
  transform: translate(-0.2vw, -0.5vw);
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
}

.RightEye img {
  width: 3.5vw;
}